[core]
	excludesfile = /Users/colbin8r/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = code
[user]
	email = colbyrogness@gmail.com
	name = Colby Rogness
[push]
	default = simple
[alias]
	quick-stats = ! /usr/local/bin/git-quick-stats
[credential]
	helper = cache --timeout=3600
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/colbin8r/.stCommitMsg
