[core]
	excludesfile = /home/colbin8r/.gitignore
[user]
	email = colbyrogness@gmail.com
	name = Colby Rogness
[push]
	default = simple
[alias]
	quick-stats = ! /usr/local/bin/git-quick-stats
[credential]
	helper = cache --timeout=3600
